
{% include 'nav.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'room.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Room</title>
</head>
<body>
    <div style="text-align: center;">
        {% if Add_rooms %}
            <h1> Update the Room Detail </h1>
        {% else %}
            <h1> Add New Room </h1>
        {% endif %}
    </div>  
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <b>
        <label class="label" for="Room_no">Room Number:</label>
        <input type="text" id="Room_no" name="Room_no" value="{{ rooms.Room_no }}" required><br><br>
    
        <label for="Room_type">Room Type:</label>
        <input type="text" id="Room_type" name="Room_type" value="{{ rooms.Room_type }}" required><br><br>
    
        <label for="Room_description">Room Description:</label>
        <textarea id="Room_description" name="Room_description" required>{{ rooms.Room_description }}</textarea><br><br>
    
        <label for="Price_per_night">Price Per Night:</label>
        <input type="number" id="Price_per_night" name="Price_per_night" value="{{ rooms.Price_per_night }}" required><br><br>
    
        <label for="Room_available">Available:</label>
        <select id="Room_available" name="Room_available" required>
            <option value="True" {% if rooms.Room_available == "True" %}selected{% endif %}>Yes</option>
            <option value="False" {% if rooms.Room_available == "False" %}selected{% endif %}>No</option>
        </select><br><br>
        
        <label for="image">Upload Room Picture:</label>
        {% if rooms.image %}
            <img src="{{ rooms.image.url }}" alt="Room Image" style="max-width: 200px; margin-bottom: 10px;"><br>
        {% endif %}
        <input type="file" id="image" name="image"  ><br><br>
        
        <div style="text-align: center;">
            <button type="submit">Update Room</button> <br>
            <a href="/">Back to Home</a>
        </div>
        </b>
    </form>
    
</body>
</html>
