{% include 'nav.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'room.css' %}">
    <title>Index page</title>

</head>

<body>
    <h1 style="text-align: center;"> All Type of Rooms</h1>
    <div class="room-items">
        {% for r in rooms %}
        <div class="room-item">
            <div class="img-comp">
                {% if r.image %}
                <img src="{{ r.image.url }}" class="room-image" />
                {% endif %}
            </div>
            
            <div class="right-comp">
                <div>
                    <div class="flx align-center" style="font-size: 20px; font-weight: bold;">
                        <b>Room No : </b>
                        <p>{{r.Room_no}}</p>
                    </div>
                    <div class="flx align-center">
                        <b>Room Type : </b>
                        <p>{{r.Room_type}}</p>
                    </div>
                    <div class="flx align-center">
                        <b>Room Description : </b>
                        <p>{{r.Room_description}}</p>
                    </div>
                                                                                                  
                </div>
                <div class="end-comp">
                    <div>
                        <div class="price">{{r.Price_per_night}}/-</div>
                        {% if r.Room_available == True %}
                        <div class="avail">Available</div>
                        {% else %}
                        <div class="not-avail">Not Available</div>
                        {% endif %}

                        {% if r.Room_available %}
                        <button class="button" style=" margin-top: 20px;"><a href="/detail/{{r.id}}" class="view-details">View Details</a></button>
                        {% if user.profile.is_vendor == No %}
                            <button class="button" ><a href="/Confirm_booking/{{r.id}}"  > Book Now</a></button>
                        {% endif %}
                    {% endif %} 
                    </div>
                </div>
            </div>
        </div>
        
        {% endfor %}
    </div>
    <div style="justify-content: space-between; display: flex; background-color: teal;">
        {% if user.profile.is_vendor %}
        <div style="background-color: rgb(42, 166, 166);padding: 15px;">
            <a href="/createuser/">Create New User</a>
        </div>
    
        <div style="background-color: rgb(42, 166, 166);padding: 15px;">
            <a href="/Add_rooms/">Add Room</a>
        </div>
        {% endif %}
        </div>
    </div>
    </div>
</body>

</html>