{% include 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <div>
        <div>
            <div class=" logo-1" style="height: 200px; text-align: center; margin-top: 40px;">
                <img src="{% static 'image/about_l.png' %}" style="height: 150px; width: 150px;">
                <img src="{% static 'image/about_l1.png' %}" style="height: 150px; width: 100px;">
            </div>
            <div class=" logo-2"></div>
        </div>
    </div>
</body>
</html>