{% include 'navbar.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index_page.css' %}">
    <title>index page</title>
</head>

<body>
    <div>   
        <div class="flex justify">
            <div>
                <div class="left_">
                    <div class="left_1">
                        Asia's Leading Brand In Digital Career Training
                    </div>
                    <div class="left_2">
                        <h4>Advance your career In Data Science and Digital Marketing with Most trusted brand in Digital Education.</h4>
                    </div>
                    <div class="flex veiw">
                        <div class="course-view">View Courses</div>
                        <div class="demo">Book for Demo</div>
                    </div>
                    <div class="news"><p>Digiperform In The News</p></div>
                    <div class="flex gap logo-img">
                        <div>
                            <img src="{% static 'image/zee.png' %}" alt="logo1">
                        </div>
                        <div>
                            <img src="{% static 'image/TOI.png' %}" alt="logo1">
                        </div>
                        <div>
                            <img src="{% static 'image/public.png' %}" alt="logo1">
                        </div>
                        <div>
                            <img src="{% static 'image/the.png' %}" alt="logo1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="right_">
                <img src="{% static 'image/image2.png' %}" alt="image" >
            </div>
            
        </div>
        <div>
            <div class="logo3">
                <img src="{% static 'image/logo3.png' %}" alt="">
            </div>
            <div class="text_1" >
                <div>Asia’s Most Trusted Brand</div>
            </div>
            <div class="text_2">
                <h1>Why Choose Digiperform?</h1>
            </div>
            <div class="text_3">
                <div>Digiperform is awarded as the “Most Trusted Brand in Digital Education” by WCRC (Leading Marketing Research Firm and Magazine).</div>
            </div>
        </div>
        <div class="cards-container">
            <div class="card ">
                <div class="icon">
                    <!-- Add your icon here, e.g., an image or font-awesome icon -->
                    <!-- <img src="icon1.png" alt="Icon"> -->
                    <i class="fa-solid fa-certificate"></i>
                </div>
                <h3>
                    
                    GET CERTIFIED</h3>
                <p>Our curriculum is built on suggestions from over 450 corporates across Asia, Get certified to add an edge to your CV.</p>
            </div>
            <div class="card">
                <div class="icon">
                    <i class="fa-solid fa-award"></i>
                </div>
                <h3>AWARD-WINNING LMS</h3>
                <p>Learn through 24×7 interactive LMS with PPTs, Videos, Assignments, Case Studies & Quizzes along with a progress tracker.</p>
            </div>
            <div class="card">
                <div class="icon">
                    <i class="fa-solid fa-magnifying-glass-dollar"></i>
                </div>
                <h3>MOST IN-DEPTH PROGRAM</h3>
                <p>50+ Modules, 321+ learning hours, followed by 2 online certification tests. A training program that sets a benchmark.</p>
            </div>
        </div>
        <div class="flex container">
            <div class="awad">
                <div class="awad1" >
                    Theory, Live Practical & Implementation
                </div>
                <div class="awad2">
                    Award Winning LMS – DOLMS!
                </div>
                <div class="awad3">
                    High-quality explainer videos of all topics. Learn on desktop or mobile-based on preferences
                    <br><br>
                    also you can track your learning progress with SMART tracker.
                </div>
                <div class="awad4">
                    Watch the Video
                </div>
            </div>
            <div class="awaded-child-img">
                <img src="{% static 'image/image3.png' %}" alt="image3">
                
            </div>
        </div>
        <div>
            <div class="pro-logo">
                <img src="{% static 'image/logo2.png' %}" alt="logo2">
            </div>
            <div class="pro-certi text_2">
                <h1>Digiperform Certified Programs. Join The Next Revolution Now!</h1>
            </div>
            <div class="pro-des">
                Digiperform, as a Leading Digital Marketing Courses & Certification Academy, provides value-for-money courses which you can afford at the best price in the market. 57,000+ Digiperformers got a placement with Digiperform Certifications in top brands.
            </div>
        </div>
        <div class="cards-container ">
            <div class="card1">
                <h5>Data Scrience</h5>
                <h4 class="heading">Data Scrience, AI & ML </h4>
                <p><a class="more-certi" href="#">Know More </a></p>
            </div>
            <div class="card1">
                <h5>Data Scrience</h5>
                <h4 class="heading">Annual DigiHero Program </h4>
                <p ><a class="more-certi"  href="#">Know More </a></p>
            </div>
            <div class="card1">
                <h5>Data Scrience</h5>
                <h4 class="heading">Online Marketing Professional</h4>
                <p><a class="more-certi"  href="#">Know More </a></p>
            </div>
            <div class="card1">
                <h5>Data Scrience</h5>
                <h4 class="heading">Online Marketing Practitioner</h4>
                <p><a class="more-certi"  href="#">Know More </a></p>
            </div>

        </div>
        <div class="flex">
            <div class="left-des">
                <div class="top-des flex">
                    <div style="margin-top: 30px; margin-right: 10px; font-size: 35px; color:  rgb(233, 105, 14);">
                        <i class="fa-solid fa-lightbulb"></i>
                    </div>
                    <div>
                        <p>Innovative ideas are really important to make you different from others. Digiperform involves innovative ideologies for imparting knowledge and skills to our trainees.</p>
                    </div>
                </div>
                <div class="botton-des flex">
                    <div style="margin-top: 30px; margin-right: 10px; font-size: 30px; color:  rgb(233, 105, 14);">
                        <i class="fa-solid fa-display"></i>
                    </div>
                    <div>
                        <p>We believe in practical learning, and provides live training sessions and helped students understand each concept effectively in depth way..</p>
                    </div>
                    </div>
            </div>
            <div class="right-des">
                <div class="flex" >
                    <div style="margin-top: 30px; margin-right: 10px; font-size: 35px; color:  rgb(233, 105, 14);">
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div>
                        <p>The quality of training is the key foundation of any institute. We are highly concerned towards quality. Our course modules are consistent and meet industry standards.</p>
                    </div>
                    </div>
                <div class="flex">
                    <div style="margin-top: 30px; margin-right: 10px; font-size: 35px; color:  rgb(233, 105, 14);">
                        <i class="fa-solid fa-user-group"></i>
                    </div>
                    <div>
                        <p>Digiperform as a leading Digi Marketing Institute provides 100% job assistance to our students.We tied up with several organizations for Job placements.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ready-join">
            <p>Are you ready? Join our Digital Marketing Institute now.</p>
        </div>
        <div class="demo1">
            Start with a Free Demo
        </div>
        <div class="logo_">
            <img src="{% static 'image/logo2.png' %}" alt="logo2">
        </div>
        <div >
            <h1 class="head">What Our Trainees Have To Say</h1>
        </div>
        <div class="head_1">
            <p>Our Courses have Been Receiving an average rating of 9.4/10 from our course participants. Till date, Digiperform has trained more than 75,000+ individuals.</p>
        </div>
        <div class="review">
            <div class="review-card"> 
                <img src="{% static 'image/image_user1.png' %}" alt="star">
                <div class="user-review">
                    <p>My personal experience with Digiperform was good, especially when it comes to PPC the trainer here have the depth of knowledge over the subject line.</p>
                </div>
                <div class="rating">
                    <img class="star-img" src="{% static 'image/star.png' %}" alt="star">
                </div>
                <div class="user-name">
                    <p>Suyash Chitre</p>
                </div>
            </div>
            <div class="review-card"> 
                <img src="{% static 'image/image_user2.png' %}" alt="star">
                <div class="user-review">
                    <p>Best Digital Marketing Career Academy among all! I suggest all my friends about Digiperform. They provide depth course module both technically and strategically. Happy to be a part of Digiperform.</p>
                </div>
                <div class="rating">
                    <img src="{% static 'image/star.png' %}" alt="">
                </div>
                <div class="user-name">
                    <p>Harsh Rawat</p>
                </div>
            </div>
            <div class="review-card"> 
                <img src="{% static 'image/image_user3.png' %}" alt="star">
                <div class="user-review">
                    <p>If you are looking for an institute which helps you learn digital marketing, then you must consider Digiperform. They are the best in this field.</p>
                </div>
                <div class="rating">
                    <img src="{% static 'image/star.png' %}" alt="">
                </div>
                <div class="user-name">
                    <p>Kimz Hnamte</p>
                </div>
            </div>
            <div class="review-card"> 
                
                <img src="{% static 'image/image_user1.png' %}" alt="star">
                <div class="user-review">
                    <p>kdsjflsdjflk;fksdjfklsdj</p>
                </div>
                <div class="rating">
                    <img src="{% static 'image/star.png' %}" alt="">
                </div>
                <div class="user-name">
                    <p>koshal</p>
                </div>
            </div>
            
        </div>
        <div class="demo1">
            Start with a Free Demo
        </div>
        <div>
            <div class="pro-logo">
                <img src="{% static 'image/logo2.png' %}" alt="logo2">
            </div>
            <div class="pro-certi text_2">
                <h1>Corporates Clients Hiring Digiperformers Include</h1>
            </div>
            <div class="pro-des">
                Moreover, 13,300+ Fresher Got their 1st Job; With Digiperform Certifications & Over 9000+ Trainees Got Better Salary Hike.
            </div>
            <div>
                <img src="{% static 'image/allcomp.png' %}"  style="width: 1560px; margin: 15px;" >
            </div>
        </div>
        <div class="flex justify" style="margin: 30px;;">
            <div class="help-form-left">
                <div class="pro-logo_">
                    <img src="{% static 'image/logo2.png' %}" alt="logo2">
                </div>
                <div class=" text_2_">
                    <h1>Confused? Why not let us help!</h1>
                </div>
                <div class="pro-des_">
                    Get in touch with our Friendly Team. Speak to us for Batches, fee and curriculum.
                </div>
                <div>
                    <label for="course">Select Course<span style="color: red;">*</span></label>
                    <select id="course" name="course" required>
                        <option value="">-- Select a Course --</option>
                        <option value="python">Python</option>
                        <option value="django">Django</option>
                        <option value="data_science">Data Science</option>
                        <option value="web_dev">Web Development</option>
                    </select>
                    
                    <button type="submit">Get Brochure</button>                
                </div>
            </div>
            <div class="help-img">
                <img src="{% static 'image/form_img.png' %}" alt="">
            </div>
        </div>
        <div class="flex justify gap" style="margin: 20px; align-items: center;" >
            <div class="last-des">
                <img src="{% static 'image/logo.png' %}" style="height: 60px; width: 200px;">
                <p style="width: 450px;">Digiperform offers different courses in Digital Marketing based on your Preferences, Time and Career requirements</p>

            </div>
            
            <div class="down">
                <button> <i class="fa-solid fa-circle-arrow-down"></i>  Download Brochure</button>
            </div>
            <div class="contact">
                
                <button> <i class="fa-solid fa-phone"></i>  Contact Us</button>
            </div>
            
        </div>
        <div>
        <img src="{% static 'image/footer.png' %}" style="width: 1560px;">
        <img src="{% static 'image/copyr.png' %}" style="width: 1560px;">
    </div>
</div>
</body>
</html>