body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin: 8px; */
    font-weight: bold;
}

.user-container {
    background: rgb(169, 165, 165);
    padding: 30px;
    border-radius: 20px;
    width: 500px;
    color: white;
}

h1 {
    margin-bottom: 20px;
    font-size: 30px;
}

.img-d{
    width:250px;
    
}

img{
    
    height: 230px;
    border-radius: 20px; 
}
.info{
    width: 250px;
}