{% include 'navbar.html' %} 
{% load static %}
{% load math_filter %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>Add to Cart </title>
</head>
<body>
    <div class="nav-margin">
        <div class="main-container" style="text-align: center;">
            <h1>Your Shopping Cart</h1>
        </div>
        <div>
            {% for c in cart %}
                <div class="main-container">
                    <div class="flex align-center">
                        <div class="" >  
                            <!-- <img src="{{c.product.images_set.first.image.url}}" alt="" style="width: 100%;height: 100%;object-fit: cover;border-radius: 5px;"> -->
                            {% with img_list=c.product.image_list|string_to_list:"|" %}
                            <img style="width: 80%; height: 200px; object-fit: contain;" src="{{ img_list.0 }}" alt="Product Image">
                            {% endwith %}  
                        </div>
                        <div style="margin-left: 20px;">
                            <div class="prd-name">
                                {{c.product.title|truncatechars:20}}
                            </div>
                            <p><strong>Quantity: </strong> {{c.quantity}} </p>
                            <p><strong>Dated: </strong> {{c.date}}</p> 
                            <p><strong>By: </strong> {{request.user}} </p>
                            <p><strong>Price: </strong> {{c.product.price}} </p>
                            <p><strong>Total: </strong> {{ c.product.price|multiply:c.quantity }}</p>
                        </div>
                    </div>
                    <div style="margin-top: 10px;">
                        <button>
                            <a href="/remove_cart/{{c.id}}">Remove Cart</a>
                        </button>
                        <button>
                            <a href="/order_item/{{c.product.id}}">Buy Now</a>
                        </button>
                    </div>
                </div>
            {% endfor %}    
        </div>
    </div>
</body>
</html>