<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/underscore@latest/underscore-umd-min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.6.0/backbone.js" integrity="sha512-pHp0xx4+ibz4Pc5VOFo6IUNrGX86Ghv8GH6ZW7ws/3inN5TESxjzp2nVhn5nCdSl8R6N3F1EyEh14BbQoJCGZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>ajax page</title>
    <h1 style= "text-align: center;">This is Ajax Page</h1>
    <form action="">
        <h1>Add New Review</h1>
        {% csrf_token %}

        <label for="product_id">Product_id:</label>
        <input type="number" id="product_id" placeholder="Enther product id"><br><br>
        
        <label for="rating">Rating:</label>
        <input type="number" id="rating" placeholder="Rating (1-5)"><br><br>

        <label for="comment">Comment:</label>
        <textarea id="comment" placeholder="your review..."></textarea><br><br>
        
        <button type="button" class="submit_review">Submit Review</button>
    </form>
    <br><br>

    <form  method="POST" enctype="multipart/form-data">
        <h1>Add New Category</h1>
        {% csrf_token %}
        <label for="name">Category Name</label>
        <input type="text" id="name" placeholder="Enter category name" required><br><br>

        <label for="image">Category Image</label>
        <input type="file" id="image" ><br><br>

        <button type="button" class="submit_category">Add Category</button>
    </form>
    <br><br>

    <form method="post" action="multipart/form-data" >
        <h1>Add Multiple images...</h1>
        {% csrf_token %}

        <label for="product_id">Product_id:</label>
        <input type="number" id="product_id-img" placeholder="Enther product id"><br><br>

        <label for="image">Upload Images</label>
        <input type="file" id="images" multiple="multiple"><br><br>        
        
        <div id="upload-status"></div>
        <button  type="button" class="submit_multimage">Submit all Images </button>
    </form>

    <br><br>
    <button type="button" class="underscore-template">Underscore Ttemplate </button>
    
    <!-- <script type="text/template" id="user-template">
        <h2>User List</h2>
        <% user.forEach(function(user) { %>
            <p><%= user.username %> - <%= user.email %></p>
        <% }); %>
    </script> 

    <script>
        $(document).ready(() => {
            $("#user-template").click(()=>{
            
                $.ajax({
                    url: "http://localhost:8000/api/User/",  
                    method: "GET",
                    success: function(data) {
                        var templateHtml = $("#user-template").html();
                        var template = _.template(templateHtml);
                        var result = template({ user: data });
        
                        $("body").append(result);
                    }
                });
            })
        });
    </script> -->
    

    <script type="text/template" id="new-template">
        <div>
            <% _.each(reviews,(item)=>{ %>
                <p><%= item.comment %></p>
                <p><%= item.rating %></p>
                <p><%= item.created_at %></p>
            <% })%>
        </div>
    </script>



    <script>
        $(document).ready(()=>{
            $(".underscore-template").click(()=>{
                $.ajax({
                    method: "GET",
                    url: "http://localhost:8000/api/Reviews/",
                    success: ((res)=>{
                        res.results.map((item,index)=>{
                            console.log(res);
                        })
                        let temp = _.template($("#new-template").html())
                        $(".show_data").html(temp({reviews:res.results}))
                    })
                })
            })
            $(".get_data").click(()=>{
                // console.log("This is my javascript page") 
                $.ajax({
                    method:'GET',
                    url: "http://localhost:8000/api/Reviews/",
                    success: ((res)=>{
                        // console.log(res.results)

                        var data = ""
                        res.results.map((item,index)=>{
                        //     // this is for the product Image
                        //     data+=`
                        //         <div>
                        //             <div class="image-container">
                        //                 <img src="${item.image}" style="width:300px;height:280px" />
                        //             </div>
                        //             <h1>${item.comment}</h1>
                        //         </div>
                        //     `
                            data+=`<h1>${item.comment}</h1>`
                        })
                        
                        $(".show-data").html(data)

                        console.log("Submitting:", comment, rating, product_id);

                    }),
                    error: ((err)=>{

                    })
                })
            })
            
            
            $(".submit_review").click(() => {
                
                const comment = $("#comment").val()
                const rating = $("#rating").val()
                const product_id = $("#product_id").val()
                // const user = $("#user").val()

                console.log(rating)
                console.log(comment)
                console.log(product_id)
                // console.log(user)

                $.ajax({
                    method: 'POST',
                    url: 'http://localhost:8000/api/Reviews/', 
                    data: JSON.stringify({
                        comment:comment,
                        rating:rating,
                        product_id:product_id,
                        // user:user
                        // rating :'3',
                        // comment: "Not Best Product",
                        // product: "http://localhost:8000/api/Product/1/",
                        // user:"http://localhost:8000/api/User/3/"
                    }),

                    contentType: "application/json", 
                    headers:{
                        'X-CSRFToken': $("input[name=csrfmiddlewaretoken]").val(),
                    },

                    success: (res) => {
                        console.log(res);
                        
                    }
                });
            });
            
            $(".submit_category").click(() => {
                // console.log("Category")

                const formData = new FormData();
                
                formData.append("name", $("#name").val());
                const fileInput = $("#image")[0].files[0];

                if (fileInput) {
                    formData.append("image", fileInput);  
                }

                $.ajax({
                    type: 'POST',
                    url: 'http://localhost:8000/api/Category/',
                    data: formData,
                    processData: false,
                    // contentType: "application/json", 
                    contentType: false,  
                    headers: {
                        'X-CSRFToken': $("input[name=csrfmiddlewaretoken]").val(),
                    },
                    success: (response) => {
                        console.log(response);
                    }
                });
            });

            $(".submit_multimage").click(()=>{
                // console.log("Images")
                var formData = new FormData();
                
                const product_id = $("#product_id-img").val()
                console.log(product_id)

                const fileUpload = $("#images")[0].files;

                // res.results.map((fileUpload,index)=>{
                formData.append("product_id", product_id); 

                // formData.forEach((key,value)=>{
                //     console.log(i)
                // })

                for (var x = 0; x < fileUpload.length; x++){
                    console.log(x)
                    formData.append("image", fileUpload[x]); 
                }

                // console.log(fileUpload)
                // console.log(formData)

                $.ajax({
                    type: 'POST',
                    url: 'http://localhost:8000/api/Image/',
                    data: formData,
                    processData: false,
                    // contentType: "application/json", 
                    contentType: false,  
                    headers: {
                        'X-CSRFToken': $("input[name=csrfmiddlewaretoken]").val(),
                    },
                    xhr: () => {
                        var xhr = new window.XMLHttpRequest();
                        xhr.upload.addEventListener('progress', function(evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = (evt.loaded / evt.total) * 100;
                                $('#upload-status').text('Uploading: ' + percentComplete.toFixed(2) + '%');
                            }
                        }, false);
                        return xhr;
                    },
                    success: (response) => {
                        console.log(response);
                    }
                });
            })

            $(".cal").click(()=>{
                var num1 = parseInt($("input[name=val1]").val())
                var num2 = parseInt($("input[name=val2]").val())

                var result = num1+num2
                // $("#result").val(result)
                $("input[name=result]").val(result)
            })

            $(".cal").click(()=>{
                var num1 = parseInt($("#val1").val())
                var num2 = parseInt($("#val2").val())

                var result = num1+num2
                // $("#result").val(result)
                $("#result").val(result)
            })
            
            $(".show-msg").click(() => {
                $(".message-container").html("This is my first message");
            });

            $(".show-msg").click(() => {
                $(".show-msg").html("This is my first message");
            });
        
            $(".underscore").click(()=>{
                
                var compiled = _.template($("#new-template").html());

                $(".res").html(compiled({name:"Hellllloooo "}))

                // console.log(compiled());


                // var template = _.template("Bye, <%= name %>!");
                // console.log(template({ name: "John" }));
                // console.log(typeof _);
                
                
                // var listTemplate = _.template(`
                // <ul>
                //     <% _.each(items, function(item) { %>
                //         <li><%= item %></li>
                //     <% }); %>
                // </ul>`);

                // console.log(listTemplate({ items: ["Apple", "Banana", "Cherry"] }));

            })

        })
    </script>
   
</head>
<body>
    <input type="button" value="javescript" class="get_data"> 
    
    <div class="show_data">
    <!-- </div><br><br>
    
    <input type="text" name="val1" id="val1">
    <input type="text" name="val2" id="val2">
    <input type="button" value="Sum" class="cal">
    <input type="text" name="result" id="result">
    
    <button class="show-msg">Click Me</button>
    <div class="message-container"></div> -->
    
    <button type="button" class="underscore">underscore</button>
    <div class="res"></div>
</body>
</html>


<!-- underscore template  -->
<!-- <%  %> - to execute some code
<%= %> - to print some value in template
<%- %> - to print some values HTML escaped -->
