{% include 'nav.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Index page</title>
</head>

<body>
    <div  >
        <h1 style="color: black; text-align: center; font-size:30px; ">
             List of Category
        </h1>
        <div >
        <div class="container">
            
            {% for category in categories %}
            <div>
                <a href="/pro_list/{{category.id}}">
                    <div>
                        {% if category.image %}
                        <img src="{{ category.image.url }}" alt="{{ category.name }}" style="width:200px; height: 200px;">
                        {% endif %}
                    </div> 
                </a>
                <h3>{{ category.name }}</h3>
                <div class="button">
                    {% if user.profile.is_vendor == 1  %}
                        <div >
                            <a href="/edit_category/{{category.id}}/">Edit</a>
                        </div>
                        <div >
                            <a href="/del_category/{{category.id}}">Delete </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div style="
            display: flex;
            justify-content: space-between;
            background-color:   #872341;">
            {% if user.profile.is_vendor == 1  %}
            <div>
                <a href="/add_category/" style="color: black;">
                    add new category
                </a>
            </div>
            <div>
                <a href="/createuser/" style="color: black;">
                    Create New User
                </a>
            </div>
            {% endif %}
        </div>
    </div>

</body>

</html>