<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>{% block title %}E-Commerce{% endblock %}</title> -->
    <title>navigation page</title>
  </head>
  <body>
    <nav>
      <div>
        <div
          style="
            display: flex;
            justify-content: space-between;
            background-color: rgb(189, 102, 15);
          "
        >
          <div style="background-color: rgb(198, 145, 48); padding: 15px">
            {% if user.is_authenticated %}
            <a href="/userprofile"> {{user.username}} </a>
            {% else %}
            <a href="/userlogin"> User Login </a>
            {% endif %}
          </div>
          <!-- {% if user.profile.is_vendor %}
                <div style="background-color: rgb(42, 166, 166);padding: 15px;">
                    <a href="/booking_history/">
                        Booking History
                    </a>
                </div>        
                {% endif %} -->
          <div style="background-color: rgb(198, 145, 48); padding: 15px">
            <a href="/userlogout/"> User Logout </a>
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>

<!--  
<div>
    <div style="display: flex; justify-content: space-between;background-color: teal;">
        <div style="background-color: rgb(42, 166, 166);padding: 15px;">
            {% if user.is_authenticated %}
                <a href="/profile">
                    {{user.username}}
                </a>
            {% else %}
                <a href="/userlogin">
                    User Login
                </a>                    
            {% endif %}
        </div>

        {% if user.profile.is_vendor %}
        <div style="background-color: rgb(42, 166, 166);padding: 15px;">
            <a href="/booking_history/">
                Booking History
            </a>
        </div>        
        {% endif %}
        <div style="background-color: rgb(42, 166, 166);padding: 15px;">
                <a href="/userlogout/"> 
                    User Logout
                </a>
            <br> <br>
        </div>
    </div>
</div> -->
