{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>navigation page</title>
  </head>
  <body>
    <nav>
      <div>
        <div style="
            display: flex;
            justify-content: space-between;">
            <div>
              <a href="/">
                <img src="{% static 'images/logo.png' %}" alt="Logo" style="height: 60px; width: 200px; margin: 5px; border-radius: 50px;">
              </a>
            </div>
      
          <div style="color: rgb(243, 240, 240); padding: 10px">
          
            {% if user.is_authenticated %}
            <a href="/userprofile"> {{user.username}} </a>
            {% else %}
            <a href="/userlogin"> Login </a>
            {% endif %}
          </div>
          <div style=" color: black; padding: 15px;">
            <a href="/order_history/">
              Order 
            </a>
          </div>   
          {% if user.profile.is_vendor == 1  %}
          <div>
            <form action="/search/" method="GET" class="nav-search">
              <input type="text" name="q" placeholder="Search products..." required>
              <button type="submit">🔍</button>
            </form>
          </div>   
          {% endif %}
          <div style=" color: black; padding: 15px">
          <a href="/userlogout/"> Logout </a>
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>
