{% include 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Product Detail</title>
</head>

<body>
    <div class="nav-margin">
        <div class="page">
            <div class="item-de flex">
                <div class="left">
                    <div class="thumb-images">
                        {% for im in product.images_set.all %}
                            <!-- <p>{{im.image.url}}</p> -->
                             <div>
                                 <img src="{{im.image.url}}" style="width: 100px; height: 100px;" />
                             </div>
                        {% endfor %}
                    </div>
                    <div style="width: 80%; height: 500px;">
                        <div>
                            <img src="{{ product.images_set.first.image.url }}" alt="Image"
                                style="height: 100%;width: 100%;object-fit: cover; border-radius: 10px;" />
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div>
                        <h1>{{product.name}}</h1>
                        <div>
                            <div class="flex gap">
                                <div class="flex align-center" style="font-size: 32px;font-weight: bold;gap:5px">
                                    <i class="fa-solid fa-indian-rupee-sign"> </i>
                                    <div>{{product.price}}</div>
                                </div>
                                <div>
                                    <p><i class="fa-solid fa-indian-rupee-sign strikethrough"> {{product.dis_price}}</i></p>
                                </div>
                            </div>
                        </div>
                        <div class="sp-item">
                            <div class="sp-key"> brand:</div>
                            <div class="sp-value">{{product.brand}}</div>
                        </div>
                        <div class="sp-item">
                            <div class="sp-key"> Model:</div>
                            <div class="sp-value">{{product.model}}</div>
                        </div>
                        <div class="sp-item">
                            <div class="sp-key"> Storage:</div>
                            <div class="sp-value">{{product.storage}}</div>
                        </div>
                        <div class="sp-item">
                            <div class="sp-key"> Stock:</div>
                            <div class="sp-value">{{product.stock}}</div>
                        </div>
                        <div class="sp-item">
                            <div class="sp-key"> is_available:</div>
                            <div class="sp-value">{{product.is_available}}</div>
                        </div>
                        <div class="sp-item">
                            <div class="sp-key"> Created_at:</div>
                            <div class="sp-value">{{product.created_at}}</div>
                        </div>
                        <!-- <div class="sp-item">
                        <div class="sp-key"> Description:</div> 
                        <div class="sp-value">{{product.description}}</div>
                        </div> -->

                        <div class="flex gap ">
                            <div>
                                {% if user.profile.is_vendor == 0 %}
                                <button class="button" style="width: 250px; ">
                                    <a href="/order_item/{{product.id}}">Buy Now</a>
                                </button>
                                {% else %}
                                    {% if product.user.id == user.id %}
                                    <div>
                                        <button class="button"><a href="/edit_product/{{ product.id }}">Edit Product</a></button>
                                        <button class="button"><a href="/del_product/{{ product.id }}">Delete Product</a></button>
                                    </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div>
                                {% if user.is_authenticated and user.profile.is_vendor == 0 %}
                                    {% if is_in_cart %}
                                        <button class="button-cart" style="width: 250px; ">
                                            <a href="/show_cart/">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                            </a>
                                        </button>
                                    {% else %}
                                    <button class="button-cart" style="width: 250px; ">
                                        <a href="/add_to_cart/{{product.id}}">Add to cart</a>
                                    </button>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="description">
            <div class="sp-item">
                <div class="sp-key"> Description:</div>
                <div class="sp-value">{{product.description}}</div>
            </div>
        </div>
        <!-- <div>
            {% if product.user.id == user.id %}
            <div>
                <button class="button"><a href="/edit_product/{{ product.id }}">Edit Product</a></button>
                <button class="button"><a href="/del_product/{{ product.id }}">Delete Product</a></button>
            </div>
            {% endif %}
        </div> -->
    </div>
</body>
</html>