<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product list</title>
</head>

<body>
    {% for pro in product %}
    <p>Product Name: {{pro.name}}</p>
    <p>Product Price: {{pro.price}}</p>
    <p>Product brand: {{pro.brand}}</p>
    <p>Product is_available: {{pro.is_available}}</p>
    {% for i in product.images_set.all %} {% if i.image %}
    <img src="{{ i.image.url }}" alt="Room Image" style="max-width: 600px" />
    {% endif %} {% endfor %}
    <button><a href="/edit_product/">Edit Product </a></button>
    {% endfor %}
</body>

</html>