{% include 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'home.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Product list</title>
    </head>
    
<body>
    <div class="nav-margin flex">
        
        <div class="filter-bar-left">
            <div style="width: 100%; margin-left: 45px; margin-top: 10px; ">
                {% if user.profile.is_vendor == 1  %}
                   <button >
                       <a href="/add_product/{{category_id}}">Add a new product</a>
                   </button>
                {% endif %}
            </div>
        </div>
        <div class="filter-bar-right">
            <div class="flex_" style="width: 100%;">
                {% if message %}
                    <div style="font-size: 20px;margin-left: 25px;">
                        <p>Search result for <b>"{{message}}"</b></p>
                    </div>
                {% endif %}
                <div class="sub-main flex">
                    {% for pro in page_obj.object_list %}
                                        
                    <div class="product-item">
                        <div class="image-i">
                            {% if pro.images_set.all %}
                            <a href="/pro_detail/{{pro.id}}">
                                <img src="{{ pro.images_set.first.image.url }}" class="product-image" />
                                {% else %}
                                <img src="{% static 'images/default-product.jpg' %}" class="product-image" />
                                    <!-- <i class="fa-solid fa-heart"></i> -->
                                {% endif %}
                            </a>
                        </div>
                        <div>
                            <div class="flex justify-between b-item">
                                <div class="title">
                                    <a href="/pro_detail/{{pro.id}}">{{pro.name}}</a>
                                </div>
                                <div class="hear">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="price">
                                <i class="fa-solid fa-indian-rupee-sign">   {{pro.price}}</i>
                            </div>
                        </div>
                    </div>
                    {% endfor %} 
                    {% if not page_obj.object_list %}
                        <div style="text-align: center;width: 100%;font-weight: bold;font-size: 32px;margin-top: 50px;">
                            No Product Available
                        </div>
                    {% endif %}
                </div>
                <div class="pagination" >
                    <span class="step-links" style="text-align: center;">
                        <div style="display: flex; background-color: rgb(239, 245, 245); padding: 10px; gap: 20px; justify-content: center; font-size: 20px; font-weight: bold;">
                            <div >
                                {% if page_obj.has_previous %}
                                <div style="gap: 30px; display: flex;">
                                    <div>
                                        <a href="?page=1">&laquo; </a>
                                    </div>
                                    <div>
                                        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div>
                                <span class="current">
                                     {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>
                            </div>
                            <div style="gap: 30px; display: flex;">
                                {% if page_obj.has_next %}
                                    <div >
                                        <a href="?page={{ page_obj.next_page_number }}">    Next......</a>
                                    </div>
                                    <div >
                                        <a href="?page={{ page_obj.paginator.num_pages }}"> &raquo;</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </span>
                </div>                
            </div>
        </div>
        
    </div>
</body>

</html>