<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Page</title>
</head>
<body>
    
    <h2>Review {{ product.name }}</h2>

    <form method="post">
        {% csrf_token %}
        <label for="rating">Rating:</label>
        <select name="rating" required>
            {% for i in "12345" %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>

        <br><br>

        <label for="comment">Comment:</label><br>
        <textarea name="comment" rows="5" cols="40">{{reviews.comment}}</textarea>

        <br><br>

        <button type="submit">Submit Review</button>
    </form>
    <!-- <form id="reviewForm">
        {% csrf_token %}
        <input type="hidden" id="product_id" value="{{ product.id }}">
        <textarea id="comment" placeholder="Write your review..."></textarea>
        <input type="number" id="rating" min="1" max="5" placeholder="Rating (1-5)">
        <button type="button" class="submit_review">Submit Review</button>
    </form>
    
    <div class="review_section">
        <h3>Reviews</h3>
    </div>
     -->
</body>
</html>