.room-card {
    display: flex;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px   rgba(9, 9, 9, 0.1);
    background-color: #fff;
  }
  
  .room-card-image img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .room-card-details {
    flex: 1;
  }
  
  .room-card-details h1 {
    font-size: 1.5rem;
    margin: 0;
  }
  
  
  .actions {
    display: flex;
    gap: 10px;
  }
  
  .actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  
  .actions .book-now {
    background-color: #4caf50;
    color: #fff;
  }
  
  