{% include 'nav.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Index page</title>
</head>

<body>
    <div style=" background-color: rgb(88, 226, 210);">
        <h1>
            List of Blogs
        </h1>
    </div>
    
    <div  class="blogs">
        {% for b in blog %}
        <a class="product-box" href="/detail/{{b.id}}">
            <h3 style="color: rgb(3, 3, 156);">{{b.title}}</h3>
        </a>
        {% endfor %}
    </div>
    <div style="display: flex; justify-content: space-between; background-color: black;">
        <div>
            {% if user.profile.is_admin %}
                <a href="/createuser" style="color:white;"> Create New User </a>
            {% endif %}
        </div>
        <div>
            <a href="/create" style="color: white;">
                Create Blog
            </a>
        </div>
    </div>
</body>

</html>

