
<h1 > <a href="/">Computer  Items</a></h1><br>
<h1> <a href="/laptop/">Laptop  Items</a></h1><br>
<h1> <a href="/Stationery/">Stationery  Items</a></h1><br>
<h1><a href="/toys/">Electronic Toys</a></h1><br>
<h1><a href="/toys/">Electronic Toys</a></h1>



<!-- <h1>{{ category_name|title }} Items</h1> -->
<!-- <ul>
    {% for t in prd %}
        <li>
            <h2>{{ t.title }}</h2>
            <p>Price: {{ t.price }}</p>
            <p>Description: {{ t.description }}</p>
            <p>Category: {{ t.category }}</p>
        </li>
    {% endfor %}
</ul> -->

