<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List page </title>
</head>
<body>
        
    <h1>Edit Product</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{ Product_upadated.title }}" required>
        <br><br>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" value="{{ Product_upadated.price }}" required>
        <br><br>

        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="5" required> {{ Product_upadated.description }} </textarea>
        <br><br>

        <label for="posted_date">Posted Date:</label>
        <input type="date" id="posted_date" name="posted_date" value="{{ Product_upadated.posted_date|date:'Y-m-d' }}" required>
        <br><br>
        <label for="image">Upload Pictures:</label>
        <input type="file" id="image" name="image" multiple>
        <br><br>
    
        <button type="submit">Save Changes</button>
    </form>

</body>
</html>
