

.main{
    margin-top: 25px;
}
.justify{
    justify-content: space-between;
}
.align-item{
    align-items: center;
}
.flex{
    display: flex;    

    /* background-color: skyblue; */
}
.left-nav img{
    height: 50px;
    width: 330px;
    /* border-right: 1px solid gray; */
}
.mid-nav{
    gap: 60px;
    font-weight: bold;
    font-size: 25px;
    margin: 20px;
    padding: 10px;
    /* border-right: 1px solid gray; */
    /* border-left: 1px solid gray; */
}


/* Dropdown Menu */
.dropdown-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: yellow;
    top: 100%;
    left: 0;
    width: 200px;
    /* display: none; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu div {
    border-bottom: 1px solid #ddd;
}

.dropdown-menu div:last-child {
    border-bottom: none;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    display: block;
}

/* Hover Effect */
.dropdown:hover .dropdown-menu {
    display: block;
}
.right-nav{
    font-weight: bold;
    font-size: 20px;
    padding-right: 40px;
    margin: 10px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    /* border: 1px solid gray; */
    background-color: rgb(233, 105, 14);
    text-align: center;
    align-content: center;
    
}
.buttom{
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    height: 25px;
    border-radius: 8px;
    background-color: gray;
    align-items: center;
    font-size: 20px;
}
